* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    color: white;
    cursor: default;

    //Remove blue highligh when double-clicking
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none; 
    -o-user-select: none;
    user-select: none;

    font: {
        size: 16px;
        family: $almarai;
    }
}

a {
    text-decoration: none;
    cursor: pointer;
}

html {
    height: 100%;
}

body {
    background-color: $quizPurple2;
    background-image: linear-gradient($quizPurple3, $quizPurple2, $quizGreen2);
}