@import "colors";
@import "fonts";
@import "mixins";
@import "reset";
@import "navigation";

body {
    background-image: none;
    background-color: $quizPurple3;
}

#topSection {
    position: relative;
    height: 10vh;

    #backButton {
        @include backButton;
        position: absolute;
        left: 50px;
        top: 50%;
        transform: translateY(-50%);
    }

    #quizTitle {
        @include editableField;
        position: relative;
        display: block;
        text-align: center;
        margin: auto;
        font-size: 3.2em;
        width: auto;
        top: 50%;
        transform: translateY(-50%);
    }
}

#mainContent {
    padding: 5vh;
    height: 80vh;
}

#quizGrid {
    display: grid;
    justify-content: space-between;
    align-content: space-between;
    height: inherit;

    .rowPointsContainer {
        padding: 10%;

        .rowPoints {
            @include editableField;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            display: block;
            font-size: 2.4vmax;
            font-family: $lato;
            text-align: center;
        }
    }

    .quizCategoryContainer {

        .quizCategory {
            @include editableField;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            display: block;
            font-size: 2.4vmax;
            text-align: center;
        }
    }

    .quizQuestionContainer {
        background-color: $quizPurple4;
        border-radius: 10px;
        box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
            filter: brightness(85%);
            
            > .quizQuestion {
                color: $quizGreen1;
            }
        }

        .quizQuestion {
            position: relative;
            top: 50%;
            cursor: pointer;
            transform: translateY(-50%);
            font-size: 2.2vmax;
            font-family: $lato;
            text-align: center;
            vertical-align: middle;
            transition: all 0.2s;
        }
    }

}

//question should be highlighted when hovered with no question and flipped if there is a question
// Can remove point rows in play mode
// Center title to questions
//test comment
//Save button
//Add add/delete buttons for categories and point-rows (Functionality)
//Add questionmark/checkmark logos for all questions to symbolize if they are done (Functionality: Gray -> Green)
